.about-services{
   background-color: rgba(0, 0, 255, 0.33);
    padding-bottom: 30px;
}


.servicios-cont{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
    img{
        width: 90%;
    }
    h3{
        margin: 10px 0;
        color: black;
    }
    p{
        font-weight: 300;
        text-align: justify;
        color: rgb(236, 236, 236);
    } 
}